<!-- <!doctype html> -->
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" -->
<!-- 	th:replace="emi_home::layout(~{::div})"> -->
<!-- <head> -->
<!-- <meta charset="UTF-8" /> -->
<!-- <title>Output2 Document</title> -->
<!-- </head> -->
<!-- <body> -->


<!-- 	<div class="container-fluid"> -->

<!-- 		<table class="table table-responsive table-condensed table-bordered"> -->
<!-- 			<thead class="thead-dark"> -->
<!-- 				<tr> -->
<!-- 					<th>Fullname</th> -->
<!-- 					<th>Email Id</th> -->
<!-- 					<th>Organization</th> -->
					
<!-- 					<th>Pan Number</th> -->
<!-- 					<th>Parent Name</th> -->
<!-- 					<th>Date Of Birth</th> -->
					
<!-- 					<th>Loan EMI Date</th> -->
<!-- 					<th>Gender</th> -->
<!-- 					<th>Aadhaar Number</th> -->
<!-- 					<th>Account Id</th> -->
<!-- 					<th>Phone Number</th> -->
<!-- 					<th>Alternative Phone Number</th> -->
					
<!-- 					<th>Pay Status</th> -->
<!-- 					<th>Pay Mode</th> -->
<!-- 					<th>City</th> -->
					
<!-- 					<th>State</th> -->
<!-- 					<th>Address</th> -->
<!-- 					<th>Pin Number</th> -->
<!-- 					<th>Scheme Name</th> -->
<!-- 					<th>Rate Of Interest</th> -->
<!-- 					<th>Penal Interest</th> -->
					
<!-- 					<th>Penal GST</th> -->
<!-- 					<th>GST</th> -->
<!-- 					<th>Loan Tenure</th> -->
					
<!-- 					<th>Loan Amount</th> -->
<!-- 					<th>Merchant Id</th> -->
<!-- 					<th>Interest</th> -->
<!-- 					<th>Principal</th> -->
<!-- 					<th>GST On Principal</th> -->
<!-- 					<th>Balance</th> -->
					
<!-- 					<th>Payble EMI</th> -->
<!-- 					<th>Total Payble</th> -->
<!-- 					<th>EMI Date</th> -->
<!-- 					<th>Payment Confirmation</th> -->
<!-- 					<th>Default Payer</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr> -->
<!-- 					<td th:text="${Invalid.fullName}"></td> -->
<!-- 					<td th:text="${Invalid.email}"></td> -->
<!-- 					<td th:text="${Invalid.organisation}"></td> -->

<!-- 					<td th:text="${Invalid.pan}"></td> -->
<!-- 					<td th:text="${Invalid.parentName}"></td> -->
<!-- 					<td th:text="${Invalid.dob}"></td> -->


<!-- 					<td th:text="${Invalid.loanEmiDate}"></td> -->
<!-- 					<td th:text="${Invalid.gender}"></td> -->
<!-- 					<td th:text="${Invalid.aadhaar}"></td> -->
<!-- 					<td th:text="${Invalid.accountId}"></td> -->
<!-- 					<td th:text="${Invalid.phoneNumber}"></td> -->
<!-- 					<td th:text="${Invalid.alternativePhoneNumber}"></td> -->

<!-- 					<td th:text="${Invalid.payStatus}"></td> -->
<!-- 					<td th:text="${Invalid.payMode}"></td> -->
<!-- 					<td th:text="${Invalid.city}"></td> -->


<!-- 					<td th:text="${Invalid.state}"></td> -->
<!-- 					<td th:text="${Invalid.address}"></td> -->
<!-- 					<td th:text="${Invalid.pin}"></td> -->
<!-- 					<td th:text="${Invalid.schemeName}"></td> -->
<!-- 					<td th:text="${Invalid.rateOfInterset}"></td> -->
<!-- 					<td th:text="${Invalid.penalInterset}"></td> -->

<!-- 					<td th:text="${Invalid.penalGst}"></td> -->
<!-- 					<td th:text="${Invalid.gst}"></td> -->
<!-- 					<td th:text="${Invalid.loanTenure}"></td> -->


<!-- 					<td th:text="${Invalid.loanAmount}"></td> -->
<!-- 					<td th:text="${Invalid.merchantId}"></td> -->
<!-- 					<td th:text="${Invalid.interset}"></td> -->
<!-- 					<td th:text="${Invalid.principal}"></td> -->
<!-- 					<td th:text="${Invalid.gstOnPrincipal}"></td> -->
<!-- 					<td th:text="${Invalid.balance}"></td> -->

<!-- 					<td th:text="${Invalid.paybleEmi}"></td> -->
<!-- 					<td th:text="${Invalid.totalPayble}"></td> -->
<!-- 					<td th:text="${Invalid.emiDate}"></td> -->
<!-- 					<td th:text="${Invalid.paymentConfirmation}"></td> -->
<!-- 					<td th:text="${Invalid.defaultPayer}"></td> -->



<!-- 				</tr> -->

<!-- 			</tbody> -->
<!-- 		</table> -->
<!-- 	</div> -->


<!-- </body> -->
<!-- </html> -->













<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>redirectPage</title>
</head>
<body>
	<h1>Welcome to redirect page</h1>
</body>
</html>


