<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

		
		
		
		<h1>DefaultPayment API Information</h1>


	<form action="payer/defaultPayment" method="post">
	
		<table class="center">
		
			<tr>
				<td><label for="payerId">PayerId : </label></td>
				<td><input type="text" id="payerId" name="payerId"></td>
			</tr>
		</table>
			
			<div><input type="submit" name="submit" value="Call defaultPayment API"></div>
	</form>
	
	
</body>
</html>